* {
/* The box-sizing property allows us to include the padding and border in an element's total width and height. */
/* Makes it easier to work with sizing */
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  background-color: rgb(55, 51, 66);
}

/* Mid div */
body, .inputBox {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  flex: 1;
  background-color: rgb(101, 94, 121);
  padding: 8px;
  border-radius: 8px;
  height: 350px;
  width: 600px;
  max-width: 90%;
  margin-top: 112px;
}

.inputBox {
  /* quoteInput */
  margin-top: 24px;
  border: 3px solid rgb(101, 94, 121);
  outline: none;
  width: 100%;
  height: 136px;
  resize: none;
  padding: 8px 8px;
  font-size: 24px;
}

.inputBox:focus {
  border-color: darkgray;
}

.char-display {
  /* quoteDisplay */
  background-color: rgba(255, 82, 82, 0.418);
  border: 3px solid white;
  height: 160px;
  overflow: hidden;
  font-size: 28px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* video abandoned me here* :) */
/* Vid continued in here from 16:39 */

/* https://www.w3schools.com/css/css3_buttons.asp */

.hiraButtons {
  margin-top: 112px;
  display: block;
  flex: 1;
}

.vHira {
  display: block;
  background-color: rgb(101, 94, 121);
  font-size: 24px;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 400px;
  border-radius: 8px;
  border-color: black;

}

.kHira {
  display: block;
  background-color: rgb(101, 94, 121);
  font-size: 24px;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 400px;
  border-radius: 8px;
  border-color: black;

}

.sHira {
  display: block;
  background-color: rgb(101, 94, 121);
  font-size: 24px;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 400px;
  border-radius: 8px;
  border-color: black;

}

.tHira {
  display: block;
  background-color: rgb(101, 94, 121);
  font-size: 24px;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 400px;
  border-radius: 8px;
  border-color: black;

}

.nHira {
  display: block;
  background-color: rgb(101, 94, 121);
  font-size: 24px;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 400px;
  border-radius: 8px;
  border-color: black;

}

.hHira {
  display: block;
  background-color: rgb(101, 94, 121);
  font-size: 24px;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 400px;
  border-radius: 8px;
  border-color: black;

}

.mHira {
  display: block;
  background-color: rgb(101, 94, 121);
  font-size: 24px;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 400px;
  border-radius: 8px;
  border-color: black;

}

.yHira {
  display: block;
  background-color: rgb(101, 94, 121);
  font-size: 24px;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 400px;
  border-radius: 8px;
  border-color: black;

}

.rHira {
  display: block;
  background-color: rgb(101, 94, 121);
  font-size: 24px;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 400px;
  border-radius: 8px;
  border-color: black;

}

.wHira {
  display: block;
  background-color: rgb(101, 94, 121);
  font-size: 24px;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 400px;
  border-radius: 8px;
  border-color: black;

}

/* Left side flex */

.leftSideDiv {
  flex: 1;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
  text-decoration: underline;
}

